---
const { heroes } = Astro.props;
---

<section class="relative md:w-[740px] bg-white mt-32 border-2 m-auto border-black animate-fade-in">

    <div class="absolute -top-16 left-72 w-full">
        <span
            id="heroName"
            class=`text-8xl text-[${heroes.primaryColor}] bg-white`
            >{heroes.name}</span
        >
    </div>
    
    <div class="flex">
        <img
            src={heroes.imagePage}
            class="h-96 border-r-2 border-black"
            alt={heroes.name}
        />
        
        <div class="my-16 mx-10">
            
            <ul class="flex flex-col text-2xl gap-2">
                
                <span
                    ><span class="font-bold">Alter ego:</span>
                    {heroes.alterEgo}</span
                >
                <span>
                    <span class="font-bold">Publisher:</span>{
                        heroes.publisher
                    }</span
                >
                <span>
                    <span class="font-bold">First Apparence:</span>
                    {heroes.firstApparence}</span
                >
            </ul>
        </div>
        
        <div class="flex justify-end items-end m-6">
            <img class="h-auto w-32 border-2 border-black" src={heroes.logo} alt={heroes.name} />
        </div>
        
    </div>
</section>
